[project]
name = "python-graphql-comparision"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "django>=6.0",
    "strawberry-graphql-django>=0.72.0",
]
